<div class="header">Stats by country</div>

<div style="margin-top: 3%; margin-bottom: 3%;" class="example-container2 mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        Covid19's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>
  
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Poland" #input>
    </mat-form-field>


    <div class="example-table-container" >

      <table mat-table [dataSource]="dataSource" class="example-table" matSort   (matSortChange)="sortData($event)">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row): null"
                          [checked]="selection.isSelected(row)"
                          (click)="getValue()"
                          >
            </mat-checkbox>
          </td>
        </ng-container>


        <ng-container matColumnDef="Country">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Country</th>
          <td mat-cell *matCellDef="let row">{{row.Country}}</td>
        </ng-container>
  
        <ng-container matColumnDef="Total confirmed">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Total confirmed</th>
          <td mat-cell *matCellDef="let row">{{row.TotalConfirmed | formatNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="New confirmed">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>New confirmed</th>
          <td mat-cell *matCellDef="let row">{{row.NewConfirmed | formatNumber}}</td>
        </ng-container>
  
        <ng-container matColumnDef="Total deaths">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Total deaths</th>
          <td mat-cell *matCellDef="let row">{{row.TotalDeaths | formatNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="New deaths">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>New deaths</th>
          <td mat-cell *matCellDef="let row">{{row.NewDeaths | formatNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="Total recovered">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Total recovered</th>
          <td mat-cell *matCellDef="let row">{{row.TotalRecovered | formatNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="New recovered">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>New recovered</th>
          <td mat-cell *matCellDef="let row">{{row.NewRecovered | formatNumber}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getValue()" (click)="selection.toggle(row)"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      
    </div>
    <button mat-raised-button color="primary" (click)="exportToExcel()">Export as Excel <mat-icon>table_view</mat-icon></button>
    <button mat-raised-button color="primary" (click)="exportToPdf()">Export as PDF <mat-icon>picture_as_pdf</mat-icon></button>
  </div>
  <div style='min-height:800px' *ngIf='showChartsTabs' >
    <mat-tab-group class="example-container2 mat-elevation-z8" mat-align-tabs="center" *ngIf='showChartsTabs' style="margin-top: 5%; margin-bottom: 3%; background-color: #6e396a; border: solid; border-color: black; border-radius: 10px;">
      <mat-tab label="Active">
        <canvas baseChart 
            [datasets]="lineChartDataActive" 
            [labels]="lineChartLabelsActive" 
            [options]="lineChartOptions"
            [colors]="lineChartColorsActive" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
      </mat-tab>
    
      <mat-tab label="Total Deaths" >
        <canvas baseChart 
            [datasets]="lineChartDataDeaths" 
            [labels]="lineChartLabelsDeaths" 
            [options]="lineChartOptions"
            [colors]="lineChartColorsNewDeaths" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
      </mat-tab>
      <mat-tab label="Total Recovered">
        <canvas baseChart 
            [datasets]="lineChartDataRecovered" 
            [labels]="lineChartLabelsRecovered" 
            [options]="lineChartOptions"
            [colors]="lineChartColorsNewRecovered" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
      </mat-tab>
      </mat-tab-group>
  </div>
  

  <div style="display: none;" class="example-table-container" #TABLE>

    <table mat-table [dataSource]="dataSourceHidden" class="example-table"  #table >

      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let row">{{row.Country}}</td>
      </ng-container>

      <ng-container matColumnDef="Total confirmed">
        <th mat-header-cell *matHeaderCellDef>Total confirmed</th>
        <td mat-cell *matCellDef="let row">{{row.TotalConfirmed}}</td>
      </ng-container>

      <ng-container matColumnDef="New confirmed">
        <th mat-header-cell *matHeaderCellDef>New confirmed</th>
        <td mat-cell *matCellDef="let row">{{row.NewConfirmed}}</td>
      </ng-container>

      <ng-container matColumnDef="Total deaths">
        <th mat-header-cell *matHeaderCellDef  >Total deaths</th>
        <td mat-cell *matCellDef="let row">{{row.TotalDeaths}}</td>
      </ng-container>

      <ng-container matColumnDef="New deaths">
        <th mat-header-cell *matHeaderCellDef >New deaths</th>
        <td mat-cell *matCellDef="let row">{{row.NewDeaths}}</td>
      </ng-container>

      <ng-container matColumnDef="Total recovered">
        <th mat-header-cell *matHeaderCellDef>Total recovered</th>
        <td mat-cell *matCellDef="let row">{{row.TotalRecovered}}</td>
      </ng-container>

      <ng-container matColumnDef="New recovered">
        <th mat-header-cell *matHeaderCellDef >New recovered</th>
        <td mat-cell *matCellDef="let row">{{row.NewRecovered}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsHidden; sticky: true" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsHidden;" ></tr>
    </table>
    
  </div>
